{% extends "base.html" %}
{% block content %}

<!-- Search Form -->
<div class="container pt-3">
    <h1>All Routes</h1>

    <nav class="navbar sticky-top">
        <form class="form-inline d-flex justify-content-center" method="GET" action="{% url 'search' %}">
            <input class="form-control form-control-sm mr-2 rounded-start-pill" type="text"
                   placeholder="Search"
                   aria-label="Search" name="q">
            <button type="submit" class="btn btn-light rounded-end-pill">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </nav>

    <!-- Routes List -->
    <ul>
        {% for route in routes %}
            <li>
                <a href="{% url 'route_detail' route.id %}">{{ route.origin }} to {{ route.destination }}</a>
            </li>
        {% empty %}
            <li>No routes found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
